// font families
$font-family: "M+ 1c", Roboto, Cantarell, Sans-Serif;
$large-font-family: Roboto, "M+ 1c", Cantarell, Sans-Serif;

// font sizes
$root-font-size: 14px;
$subheading-size: 15px;

// Override sizes
$menuitem_size: 28px;

// durations
$panel_duration: 250ms;

// Override durations
$shorter_duration: 100ms;
$longer_duration: 200ms;

$asset_suffix: if($variant == 'dark', '-dark', '');
$extra_background_clip: if($variant == 'light', padding-box, border-box);

// sizes
$small_size: 24px;
$medium_size: 32px;
$large_size: 40px;

$container_padding: 4px;

$bar_size: 4px;
$menuitem_size: 28px;

// radiuses
$material_radius: 4px;
$circular_radius: 9999px;

// durations
$shorter_duration: 100ms;
$longer_duration: 225ms;
$ripple_duration: 300ms;
$ripple_opacity_duration: 1200ms;

// timing functions
$standard_curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration_curve: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration_curve: cubic-bezier(0.4, 0.0, 1, 1);
$sharp_curve: cubic-bezier(0.4, 0.0, 0.6, 1);

// transition shorthands
$shorter_transition: all $shorter_duration $deceleration_curve;
$shadow_transition: box-shadow $shorter_duration $deceleration_curve;

// shadows

// This should be none, but it's creating some issues with borders, so to
// workaround it for now, use inset wich goes through a different code path.
// see https://bugzilla.gnome.org/show_bug.cgi?id=752934
$shadow_0: 0 0 transparent;

// Override shadows
$shadow_1: 0 1px 1.5px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
$shadow_2: 0 3px 3px rgba(0, 0, 0, 0.16 * 1.5), 0 3px 3px rgba(0, 0, 0, 0.23 * 1.5);
$shadow_3: 0 10px 10px rgba(0, 0, 0, 0.19 * 1.5), 0 6px 3px rgba(0, 0, 0, 0.23 * 1.5);
$shadow_4: 0 14px 14px rgba(0, 0, 0, 0.25 * 2), 0 10px 5px rgba(0, 0, 0, 0.22 * 2);
$shadow_5: 0 19px 19px rgba(0, 0, 0, 0.30 * 2), 0 15px 6px rgba(0, 0, 0, 0.22 * 2);

// Override overlay colors
$overlay-hover:       rgba($text, 0.08);
$overlay-focus:       rgba($text, 0.12);
$overlay-focus-hover: rgba($text, 0.16);
$overlay-active:      rgba($text, 0.08 + 0.12);
$overlay-checked:     rgba($text, 0.24);

$inverse-overlay-hover:       rgba(on(black), 0.08);
$inverse-overlay-focus:       rgba(on(black), 0.12);
$inverse-overlay-focus-hover: rgba(on(black), 0.16);
$inverse-overlay-active:      rgba(on(black), 0.08 + 0.12);
$inverse-overlay-checked:     rgba(on(black), 0.24);
