install_test.sh
src/assets/cinnamon/thumbnail-light.png
src/assets/cinnamon/thumbnail-dark.png
src/assets/gtk2/assets-dark
src/assets/gtk2/assets-light
src/assets/gtk3/thumbnail-light.png
src/assets/gtk3/thumbnail-dark.png
src/assets/gtk3/common-assets/assets
src/assets/gtk3/windows-assets/titlebutton
src/assets/gtk3/windows-assets/titlebutton-alt
src/assets/gtk3/windows-assets/titlebutton-alt-small
src/assets/gtk3/windows-assets/titlebutton-small
src/assets/metacity-1/assets
src/assets/metacity-1/thumbnail-light.png
src/assets/metacity-1/thumbnail-dark.png
src/assets/xfwm4/assets-dark
src/assets/xfwm4/assets-light
src/main/cinnamon/*.css
src/main/gnome-shell/*.css
src/main/gtk-3.0/*.css
src/main/gtk-3.0/gtk.gresource.xml
