
src/main/cinnamon/cinnamon-Dark-solid.css
src/main/cinnamon/cinnamon-Dark.css
src/main/cinnamon/cinnamon-Light-solid.css
src/main/cinnamon/cinnamon-Light.css
src/main/gnome-shell/shell-3-28/gnome-shell-Dark-solid.css
src/main/gnome-shell/shell-3-28/gnome-shell-Dark.css
src/main/gnome-shell/shell-3-28/gnome-shell-Light-solid.css
src/main/gnome-shell/shell-3-28/gnome-shell-Light.css
src/main/gnome-shell/shell-40-0/gnome-shell-Dark-solid.css
src/main/gnome-shell/shell-40-0/gnome-shell-Dark.css
src/main/gnome-shell/shell-40-0/gnome-shell-Light-solid.css
src/main/gnome-shell/shell-40-0/gnome-shell-Light.css
src/main/gnome-shell/shell-42-0/gnome-shell-Dark-solid.css
src/main/gnome-shell/shell-42-0/gnome-shell-Dark.css
src/main/gnome-shell/shell-42-0/gnome-shell-Light-solid.css
src/main/gnome-shell/shell-42-0/gnome-shell-Light.css
src/main/gnome-shell/shell-44-0/gnome-shell-Dark-solid.css
src/main/gnome-shell/shell-44-0/gnome-shell-Dark.css
src/main/gnome-shell/shell-44-0/gnome-shell-Light-solid.css
src/main/gnome-shell/shell-44-0/gnome-shell-Light.css
src/main/gtk-3.0/gtk-Dark-solid.css
src/main/gtk-3.0/gtk-Dark.css
src/main/gtk-3.0/gtk-Light-solid.css
src/main/gtk-3.0/gtk-Light.css
src/main/gtk-4.0/gtk-Dark-solid.css
src/main/gtk-4.0/gtk-Dark.css
src/main/gtk-4.0/gtk-Light-solid.css
src/main/gtk-4.0/gtk-Light.css
