$variant: 'light';
$laptop: 'true';
$trans: 'false';
$black: 'true';
$theme: 'grey';

@import '../../../sass/colors';
@import '../../../sass/variables';
@import '../../../sass/gnome-shell/drawing';
@import '../../../sass/gnome-shell/widgets-42-0';
@import '../../../sass/gnome-shell/extensions-40-0';
