/* Date/Time Menu */

$message_bg: if($variant == 'light', #ffffff, #383838);

%popover_bubble {
  border-radius: $bd_radius;
  border: 1px solid if($variant == 'light', rgba(black, 0.12), rgba(black, 0.5));
  color: $alt_fg_color;
  background-color: $message_bg;
  box-shadow: if($variant == 'light', $shadow_2, inset 0 1px rgba(white, 0.06));
  text-shadow: none;

  &:hover, &:focus {
    color: $fg_color;
    background-color: if($variant == 'light', rgba(white, 1), rgba(lighten($base_color, 15%), 0.75));
    box-shadow: if($variant == 'light', 0 2px 3px rgba(black, 0.06), inset 0 1px rgba(white, 0.06)) !important;
  }

  &:active {
    color: $fg_color;
    background-color: if($variant == 'light', rgba(white, 0.65), rgba(lighten($base_color, 10%), 0.75));
    box-shadow: none !important;
  }

  &:insensitive {
    color: $alt_disabled_fg_color;
    background-color: rgba($message_bg, 0.5);
    box-shadow: none !important;
  }
}

// overall menu
#calendarArea {
  padding: 0 $base_padding !important;
}

.datemenu-popover {
  border-radius: $mn_radius + $base_padding + $base_margin !important;
}

// Calendar menu side column
.datemenu-calendar-column {
  spacing: $base_spacing;
  margin: 0;
  padding: 0;

  &:ltr { margin-right: $base_margin; }
  &:rtl { margin-left: $base_margin; }

  .datemenu-displays-box {
    spacing: $base_spacing;
    margin: 0;
    padding: 0;
  }
}

/* today button (the date) */
.datemenu-today-button {
  border: none;
  box-shadow: none;
  background: none;
  padding: $base_padding;
  margin: 0 $base_padding * 2;
  text-shadow: none;
  color: $alt_fg_color;
  border-radius: $mn_radius;

  &:hover, &:focus {
    color: $fg_color;
    background-color: if($variant == 'light', rgba($message_bg, 1), rgba(lighten($message_bg, 5%), 1));
  }

  &:active {
    color: $fg_color;
    background-color: if($variant == 'light', darken($message_bg, 1%), lighten($message_bg, 3%));
  }

  // weekday label
  .day-label {
    @include font(title);
    font-weight: bold;
  }

  // date label
  .date-label {
    @include font(headline);
  }
}

/* Calendar */
.calendar {
  padding: $base_padding !important;
  margin: 0 3px 3px !important;
  border-radius: $bd_radius;
  border: 1px solid if($variant == 'light', rgba(black, 0.12), rgba(black, 0.5)) !important;
  color: $alt_fg_color;
  background-color: $message_bg;
  box-shadow: if($variant == 'light', $shadow_2, inset 0 1px rgba(white, 0.06)) !important;
  text-shadow: none;

  // month
  .calendar-month-label {
    margin: 0;
    padding: $base_padding 0;
    color: $fg_color !important;
    background-color: transparent !important;
    font-weight: bold;
    font-size: 1em !important;
    text-align: center;
    text-shadow: none;

    &:focus { background-color: $divider_color; }
  }

  // prev/next month icons
  .calendar-change-month-back,
  .calendar-change-month-forward {
    padding: 2px !important;
    margin: 0 !important;
    box-shadow: none !important;

    StIcon {
      icon-size: $base_icon_size !important;
    }
  }

  .pager-button {
    width: $menuitem_size;
    height: $menuitem_size;
    margin: 2px;
    border-radius: $circular_radius;
    background-color: transparent;
    color: $fg_color;
    &:hover, &:focus { background-color: $divider_color; }
    &:active { background-color: $track_color; }
  }

  .calendar-day {
    @include font(caption);
    text-align: center;
    width: $menuitem_size !important;
    height: $menuitem_size !important;
    padding: 2px !important;
    margin: 2px !important;
    border-radius: $circular_radius;
    color: $alt_fg_color;
    font-feature-settings: "tnum";
    background-color: transparent !important;

    &:hover, &:focus {
      background-color: $divider_color !important;
      box-shadow: none !important;
    }

    &:active {
      color: $alt_fg_color;
      background-color: $track_color !important;
      border-color: transparent; //avoid jumparound due to today
    }

    &:selected {
      color: $fg_color;
      background-color: $track_color !important;
      border-color: transparent; //avoid jumparound due to today
      box-shadow: none !important;
    }
  }

  .calendar-day { //border collapse hack - see calendar.js
    border-width: 0;
  }

  .calendar-day-top {
    border-top-width: 0;
  }

  .calendar-day-left {
    border-left-width: 0;
  }

  .calendar-work-day {}

  .calendar-nonwork-day {
    color: $disabled_fg_color;
  }

  // Today
  .calendar-today {
    font-weight: bold;
    color: $alt_fg_color !important;
    background-color: rgba($fg_color, 0.1) !important;
    border: none;

    &:hover, &:focus {
      background-color: rgba($fg_color, 0.15) !important;
      color: $fg_color !important;
    }

    &:active {
      background-color: darken($primary_color, 5%) !important;
      color: $light_fg_color !important;
    }

    &:selected {
      background-color: $primary_color !important;
      color: $light_fg_color !important;
      box-shadow: none !important;

      &:hover, &:focus {
        background-color: lighten($primary_color, 8%) !important;
        color: $light_fg_color !important;
      }
    }
  }

  .calendar-day-with-events {
    color: $hint_fg_color;
    background-image: url("assets/calendar-today.svg");

    &.calendar-work-day {
      color: $hint_fg_color;
      font-weight: bold;
    }
  }

  .calendar-other-month {
    color: $disabled_fg_color !important;
    opacity: 1;

    &.calendar-weekend {
      color: $alt_disabled_fg_color !important;
    }
  }

  .calendar-week-number {
    width: 22px;
    height: 16px;
    margin: 6px 6px 6px 4px;
    padding: 0;
    border-radius: $bt_radius;
    background-color: if($variant == 'light', rgba(black, 0.05), rgba(white, 0.05));
    color: $hint_fg_color;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
  }

  .calendar-day-heading {  //day of week heading
    width: $menuitem_size !important;
    height: $menuitem_size - 6px !important;
    margin: $base_margin;
    padding: 0 !important;
    // border-radius: $circular_radius;
    background-color: transparent !important;
    color: $hint_fg_color !important;
    @include font(caption);
    font-weight: bold;
    text-align: center;
  }
}

.world-clocks-button,
.weather-button,
.events-button {
  @extend %popover_bubble;
  padding: $base_padding * 2 !important;
  margin: 3px !important;
}

// Events
.events-button {
  .events-box {
    spacing: $base_spacing;
  }

  .events-list {
    spacing: 2 * $base_spacing;
    text-shadow: none;
    color: $hint_fg_color;
  }

  .events-title {
    color: $hint_fg_color;
    font-weight: bold;
    text-shadow: none;
  }

  .event-time {
    color: $hint_fg_color;
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 2);
  }
}

// World Clock
.world-clocks-button {
  .world-clocks-grid {
    spacing-rows: $base_padding;
    spacing-columns: $base_padding * 2;
  }

  .world-clocks-city {
    color: $hint_fg_color;
    font-weight: bold;
    @include fontsize($base_font_size - 1);
  }

  .world-clocks-time {
    color: $hint_fg_color;
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 1);

    &:ltr { text-align: right; }
    &:rtl { text-align: left; }
  }

  .world-clocks-timezone {
    color: $hint_fg_color;
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 2);
  }
}

// Weather
.weather-button {
  .weather-box {
    spacing: $base_spacing + $base_margin;
  }

  .weather-header-box {
    spacing: $base_spacing;
  }

  .weather-header {
    color: $alt_fg_color;
    font-weight: bold;

    &.location {
      font-weight: normal;
      color: $hint_fg_color;
      @include fontsize($base_font_size - 2);
    }
  }

  .weather-grid {
    spacing-rows: $base_padding;
    spacing-columns: $base_padding * 2;
  }

  .weather-forecast-time {
    color: $alt_fg_color;
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 3);
    font-weight: normal;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
  }

  .weather-forecast-icon {
    icon-size: 32px;
  }

  .weather-forecast-temp {
    font-weight: bold;
  }
}
