/* Buttons */

.button {
  min-height: 20px;
  padding: $base_padding $base_padding * 2;
  border-radius: $bt_radius;
  box-shadow: none;

  &, .popup-menu & {
    @include button(flat-normal);
    &:hover { @include button(flat-hover); }
    &:active { @include button(flat-active); }
    &:insensitive { @include button(flat-insensitive); }
    &:focus { @include button(flat-focus); }
    border: none;
  }
}

.icon-button {
  min-height: 24px;
  min-width: 24px;
  padding: $base_padding;
  border-radius: $circular_radius;

  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }
}

%osd_button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  color: rgba(white, 0.75);

  &:hover {
    background-color: rgba(white, 0.1);
    color: white;
  }

  &:active {
    background-color: rgba(white, 0.25);
    color: white;
  }

  &:checked {
    background-color: $selected_bg_color;
    color: white;
  }

  &:insensitive {
    background-color: transparent;
    color: rgba(white, 0.35);
  }
}
