// IBus Candidate Popup
.candidate-popup-boxpointer {
  -arrow-border-radius: 2px;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 64px;
  -arrow-rise: 6px;
  background-color: transparent;
  color: $hint_fg_color;
  box-shadow: 0 3px 6px rgba(black, 0.15);
}

.candidate-popup-content {
  padding: 6px !important;
  border: 1px solid if($variant == 'light', $borders_color, black);
  box-shadow: inset 0 0 0 1px rgba(white, 0.1);
  margin: 0;
  border-radius: $mn_radius;
  background-color: $menu_bg;
}

.candidate-index {
  padding: 0 0.5em 0 0;
  color: $hint_fg_color;

  .candidate-box:selected & { color: $light_hint_fg_color; }
}

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin-right: 2px;
  border-radius: $bt_radius;
  color: $hint_fg_color;
  &:hover { background-color: $divider_color; color: $fg_color; }
  &:active { background-color: $track_color; color: $fg_color; }
  &:selected { background-color: $primary_color; color: $light_alt_fg_color; }
  &:last-child { margin-right: 0; }
}

.candidate-page-button-box {
  height: 2em;
  .vertical & { padding-top: 0.5em; }
  .horizontal & { padding-left: 0.5em; }
}

.candidate-page-button {
  padding: 4px 8px;
}

.candidate-page-button-previous,
.candidate-page-button-next { border-radius: $bt_radius;  }
.candidate-page-button-icon { icon-size: 1em; }

// Fcitx5 kimpanel

.popup-menu-content.kimpanel-popup-content {
  padding: $base_padding $base_padding - 1px !important;
  border-radius: $bt_radius + $base_padding !important;

  .popup-menu-item {
    border-radius: $bt_radius !important;
    margin: 0 1px !important;
  }
}

.kimpanel-candidate-item {
  border-radius: $bt_radius !important;
}
