/* Popovers/Menus */

$popop_menuitem_radius: $wm_radius - 4px;

//.the popover itself
.popup-menu-boxpointer {
  -arrow-border-radius: 2px;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 64px;
  -arrow-rise: 0;
  -arrow-box-shadow: none; //dreaming. bug #689995
  background: transparent; // needs to reset?
}

// container of the popover menu
.popup-menu {
  min-width: 12em;
  color: $fg_color;
  font-weight: normal;
  padding: 3px 0 !important;
  margin: 0 !important;
  @include font(body-1);

  @if $trans == 'true' {
    border-image: url("assets/menu.svg") 24 32 28 28;
  }

  @else {
    border-image: url("assets/menu-solid.svg") 24 32 28 28;
  }

  .popup-menu-content {
    padding: 10px 0 !important;
    font-weight: normal;
    border: none;
    box-shadow: none !important;
    margin: 0 !important;
    background: none !important;
  }

  .popup-menu-item {
    spacing: 12px;
    padding: 6px;
    color: $alt_fg_color !important;
    text-shadow: none;
    border-radius: $popop_menuitem_radius;
    font-weight: normal;

    &:checked {
      font-weight: normal;
      background: none !important;
      box-shadow: none;
      border-image: url("assets/submenu-open.svg") 28 28 2 2;

      &:hover, &:focus, &.selected {
        color: $light_alt_fg_color !important;
        background: none;
        background-color: transparent !important;
        border-image: url("assets/menu-hover.svg") 28 28 2 2;
        transition-duration: 0ms;
        animation: none;
        box-shadow: none;
      }

      &:active {
        color: $light_alt_fg_color !important;
        background: none;
        background-color: transparent !important;
        border-image: url("assets/menu-active.svg") 28 28 2 2;
        transition-duration: 100ms;
        animation: none;
        box-shadow: none;
      }

      &:insensitive { color: $light_disabled_fg_color !important; }
    }

    &:hover, &:focus, &.selected {
      color: $light_alt_fg_color !important;
      background: none;
      background-color: transparent !important;
      border-image: url("assets/menu-hover.svg") 28 28 2 2;
      transition-duration: 0ms;
      animation: none;
      box-shadow: none;
    }

    &:active, &.selected:active {
      color: $light_alt_fg_color !important;
      background: none;
      background-color: transparent !important;
      border-image: url("assets/menu-active.svg") 28 28 2 2;
      transition-duration: 100ms;
      animation: none;
      box-shadow: none;
    }

    &:insensitive { color: $disabled_fg_color !important; }
  }

  .popup-sub-menu {
    background: none !important;
    box-shadow: none;
    border-image: url("assets/submenu.svg") 28 28 2 2;
  }

  .popup-inactive-menu-item { //all icons and other graphical elements
    color: $alt_fg_color !important;

    &:insensitive { color: $disabled_fg_color !important; }
  }

  //.popup-status-menu-item { font-weight: normal;  color: pink; } //dunno what that is
  &.panel-menu {
    -boxpointer-gap: $base_margin; // distance from the panel
    margin-bottom: 1.75em;
  }

  StEntry {
    selection-background-color: $light_alt_fg_color;
    selected-background-color: $light_alt_fg_color;
    selected-color: $primary_color;
    caret-color: $fg_color;

    StLabel.hint-text {
      margin-left: 2px;
      color: transparentize($fg_color, 0.3);
    }
  }

  .search-entry {
    @extend %entry;
    border-radius: $circular_radius;
  }
}
// symbolic icons in popover
.popup-menu-arrow,
.popup-menu-icon { icon-size: $base_icon_size; }

// container for radio and check boxes
.popup-menu-ornament {
  width: 1.2em;

  &:ltr { text-align: right };
  &:rtl { text-align: left };
}

// separator
.popup-separator-menu-item {
  padding: 0;
  background: none;
  border: none;
  height: 1px;

  .popup-separator-menu-item-separator {
    height: 1px; //not really the whole box
    margin: 0 40px;
    background-color: $borders_color;
    padding: 0 0;

    .popup-sub-menu & { //submenu separators
      padding: 0 0;
      margin: 0 58px 0 24px;
    }
  }
}

// desktop background menu
.background-menu {
  -boxpointer-gap: $base_margin;
  -arrow-rise: 0px; // hide the beak on the menu
}

// system status popover menu
.aggregate-menu {
  min-width: 21em;

  // lock screen, shutdown, etc. buttons
  .popup-menu-icon {
    padding: 0;
    margin: 0 0;
    -st-icon-style: symbolic;
  }
}
