// Dash to Dock

$dash_panel_bg: if($variant == 'light', rgba(#f1f1f1, 0.65), rgba(#222222, 0.75));
$dash_panel_fg: if($variant == 'light', black, white);

// Scrollview style
.bottom #dashtodockDashScrollview,
.top #dashtodockDashScrollview {
  -st-hfade-offset: 24px;
}

.left #dashtodockDashScrollview,
.right #dashtodockDashScrollview {
  -st-vfade-offset: 24px;
}

#dashtodockContainer {
  background-color: transparent;

  .number-overlay {
    color: $light_fg_color;
    background-color: rgba(black, 0.75);
    text-align: center;
  }

  .notification-badge {
    color: $light_fg_color;
    background-color: $primary_color;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
    margin: 2px;
    padding: 0.2em 0.6em;
    font-weight: bold;
    text-align: center;
  }

  &.straight-corner #dash .dash-background,
  &.shrink.straight-corner #dash .dash-background {
    border-radius: 0;
    margin: 0;
  }

  &.extended.top,
  &.extended.bottom {
    #dash {
      border-left: 0;
      border-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    }

    .dash-background {
      margin-bottom: 0;
    }
  }

  &.extended.right,
  &.extended.left {
    #dash {
      border-top: 0;
      border-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
    }

    .dash-background {
      margin-bottom: 0;
    }
  }

  &.dashtodock #dash { background: none; }

  #dash { // default-mode
    background: none;

    .app-grid-running-dot {
      margin: 0 !important;
      offset-y: 0 !important;
      background-color: $alt_fg_color;
    }

    StWidget.focused .app-grid-running-dot {
      background-color: $primary_color;
    }

    .show-apps,
    .overview-tile {
      &:ltr:first-child { margin-left: 0 !important; }
      &:rtl:first-child { margin-right: 0 !important; }

      .overview-icon { color: $fg_color; }

      &:hover .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background-color: rgba($fg_color, 0.15);
      }

      &:active .overview-icon,
      &:checked .overview-icon {
        background-color: rgba($fg_color, 0.25);
      }
    }
  }

  .dash-background {
    background-color: $dash_panel_bg;
    border: 1px solid if($variant == 'light', rgba(black, 0.08), rgba(black, 0.75));
    box-shadow: inset 0 0 0 1px rgba(white, 0.05);
  }

  &:overview #dash { // overview-mode #1
    background: none;

    .show-apps,
    .overview-tile {
      .overview-icon { color: $light_alt_fg_color; }

      &:hover .overview-icon,
      &:focus .overview-icon,
      &:selected .overview-icon {
        background-color: $light_divider_color;
      }

      &:active .overview-icon,
      &:checked .overview-icon {
        background-color: $light_track_color;
      }
    }

    .dash-background {
      background-color: $light_divider_color;
      border: 1px solid rgba(black, 0.08);
      box-shadow: inset 0 0 0 1px rgba(white, 0.05);
    }

    .app-grid-running-dot {
      background-color: $light_alt_fg_color;
    }

    StWidget.focused .app-grid-running-dot {
      background-color: $primary_color;
    }
  }

  &.opaque:overview,
  &.transparent:overview { // overview-mode #2
    #dash {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .dash-background {
      background-color: transparent !important;
    }
  }

  &.extended:overview, // overview-mode #3
  &.opaque.extended:overview,
  &.transparent.extended:overview {
    #dash {
      background: none;
    }
  }

  &.running-dots,
  &.dashtodock {
    .dash-item-container > StButton {
      transition-duration: 250ms;
      background-size: contain;
    }
  }

  &.shrink,
  &.dashtodock {
    .dash-item-container > StButton {
      padding: 1px 2px;
    }
  }

  &.extended,
  &.extended:overview {
    .show-apps,
    .overview-tile {
      .overview-icon {
        border-radius: $bt_radius;
      }
    }
  }

  .metro .overview-icon {
    border-radius: 0;
  }
}

.dash-label.bottom {
  margin-bottom: $dash_padding + $base_padding !important;
}

.dashtodock-app-well-preview-menu-item {
  padding: 1em 1em 0.5em 1em;
}

#dashtodockPreviewSeparator.popup-separator-menu-item-horizontal {
  width: 1px;
  height: auto;
  border-right-width: 1px;
  margin: 32px 0;
}
