
@import 'libadwaita';

%side_headerbar_left {
  &, &:backdrop {
    background-image: none;
    background-color: rgba($dark_sidebar_bg, 1);
    border-color: rgba($dark_sidebar_bg, 1);
  }

  button { @extend %flat_button; }
}

%side_headerbar_right {
  &, &:backdrop {
    background-image: none;
    background-color: rgba($base_color, 1);
    border-color: $dark_sidebar_border;
  }
}

%side_searchbar {
  > revealer > box {
    background-color: rgba($dark_sidebar_bg, 1);
    border-color: $dark_sidebar_border;
  }
}

%side_separator {
  &, &:backdrop {
    background-image: if($variant == 'light', image($solid_borders_color), image($header_border));
    background-color: transparent;
    border-right: none;
  }
}

/************
 * Nautilus *
 ************/

%nautilus_pathbar_button {
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: $bt_radius - 2px;
  padding: 0 $container_padding;
  min-height: if($variant == 'light', 20px, 22px);

  &:not(:hover):not(:active):not(:checked) {
    background: none;
  }

  &:hover:not(:active):not(:checked) {
    background-color: rgba($header_fg, 0.15);
    background-image: none;
  }
}

.nautilus-window {
  headerbar revealer > box > widget > box {
    > button:last-child {
      margin-left: -6px;
    }
  }

  flap.unfolded {
    > placessidebar.background {
      background: none;

      list.navigation-sidebar {
        background-color: $dark_sidebar_bg;
      }
    }

    > separator.horizontal {
      background-color: $dark_sidebar_border;
    }
  }

  flap.folded {
    > placessidebar {
      border-right: 1px solid $dark_sidebar_border;
    }
  }

  // Floating Bar
  .floating-bar {
    padding: 2px;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border-radius: $wm_radius - $container_padding;
    margin: $container_padding;
    box-shadow: $shadow_5;

    > button.circular.flat {
      border-radius: $circular_radius;
      min-height: 24px;
      min-width: 24px;
      padding: 0;
      -gtk-icon-shadow: none;
      @extend %selected-button;
    }
  }
}

child.activatable {
  border-radius: $bt_radius * 1.5;

  &:hover {
    background-color: rgba($fg_color, 0.1);
    color: $fg_color;
  }

  &:active {
    background-color: rgba($fg_color, 0.2);
    color: $fg_color;
    transition: $shorter_transition;
  }

  &:selected {
    background-color: rgba($fg_color, 0.12);
    color: $fg_color;

    &:hover {
      background-color: rgba($fg_color, 0.16);
    }

    &:active {
      background-color: rgba($fg_color, 0.22);
    }
  }
}

#NautilusViewCell {
  clamp box {
    margin: 0;
    border-spacing: 0;
  }
}

#NautilusQueryEditor { // search entry
  padding: 2px $container_padding;
  border-radius: $bt_radius;
  background-clip: padding-box;
  border-image: none;
  outline: 0 solid transparent;
  outline-offset: -2px;
  min-height: if($variant == 'light', 19px, 22px);

  @if $variant == 'light' {
    border: 1px solid $borders_color;
    margin-top: 7px;
  } @else {
    border: none;
    margin-top: 6px;
  }

  transition: outline-color 300ms $ease-out-quad,
              outline-width 300ms $ease-out-quad,
              outline-offset 300ms $ease-out-quad,
              background-color 150ms $deceleration_curve;

  &:focus-within {
    border-image: none;
    outline-color: $entry_highlight;
    outline-width: 2px;
    border-color: $selected_bg_color;
  }

  > box { margin: 0; }

  #NautilusQueryEditorTag {
    @extend .entry-tag;

    > button {
      margin: 0;
    }
  }

  > menubutton > button {
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    -gtk-icon-size: 12px;
    padding: 0 2px;
    border: none;
    border-radius: 100px;
    @extend %nautilus_pathbar_button;
  }

  > text, > image { margin: 0; }
}

#NautilusPathBar {
  border-radius: $bt_radius;
  margin: $container_padding 0;
  border: 1px solid $borders_color;
  padding: 2px;
  background-clip: padding-box;
  @include button(header-normal);

  #NautilusPathButton {
    @extend %nautilus_pathbar_button;

    .dim-label {
      opacity: 0.75;
    }

    &.current-dir {
      color: $header_fg;

      &:hover, &:active {
        background: none;
        box-shadow: none;
      }
    }
  }

  > menubutton {
    margin: 0;

    > button {
      @extend %nautilus_pathbar_button;
    }
  }
}

// Extensions
window.nightthemeswitcher headerbar {
  background: $header_bg;
  color: $header_fg;
}

//
// Gnome Control Center
//

window.background.csd {
  > contents {
    > leaflet.unfolded > box {
      > headerbar {
        @extend %side_headerbar_left;
      }

      > searchbar {
        @extend %side_searchbar;
      }

      > stack > widget > box > widget > headerbar,
      > stack > widget > overlay > leaflet.folded > box > headerbar {
        @extend %side_headerbar_right;
      }

      > scrolledwindow > viewport > widget > stack {
        > list.navigation-sidebar {
          background-color: rgba($dark_sidebar_bg, 1);

          > separator {
            background-color: transparent;
            margin: 0;
            min-height: 0;
          }
        }

        > box > list.navigation-sidebar { background-color: rgba($dark_sidebar_bg, 1); }
      }

      > stack.background { background-color: $base_color; }
    }
  }
}


//
// Gnome Calendar / Gnome Contacts
//

window.background {
  > contents > toastoverlay > leaflet {
    > box {
      background-color: $base_color;

      > headerbar {
        &, &:backdrop {
          background: none;
          border: none;
        }
      }

      + separator {
        @extend %side_separator;

        + box {
          background-color: $dark_sidebar_bg;
        }
      }

      > .view, list:not(.boxed-list) {
        background-color: transparent;
      }

      list > row textview {
        padding: $container_padding;
        border-left: 1px solid $borders_color;

        &, & > text {
          background: none;
        }
      }
    }

    .current-week {
      background-color: $fill_color;
    }

    button.circular.day {
      border: none;
      box-shadow: none;
      @extend %flat_button;
    }

    datechooser navigator > button.flat.pill {
      padding: 0 $container_padding * 2;
      min-height: $menuitem_size;
      min-width: $menuitem_size;
    }
  }

  &.maximized, &.tiled {
    > contents > toastoverlay > leaflet {
      > box {
        > headerbar {
          &, &:backdrop {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}

menubutton.flat.popup.sources-button {
  margin: 0;

  > button {
    margin: 0;
    border-radius: 0;
    padding: 0 $container_padding * 2;

    .title {
      font-size: small;
      font-weight: normal;
    }

    .title, .subtitle {
      padding: 2px 0 2px $container_padding;
    }

    image.calendar-color-image {
      -gtk-icon-size: 8px;
    }
  }
}

// Contacts
.contacts-editor-address {
  > entry.flat {
    &:not(:last-child) {
      box-shadow: inset 0 -1px $borders_color;
    }

    &:first-child {
      border-radius: $bt_radius $bt_radius 0 0;
    }

    &:last-child {
      border-radius: 0 0 $bt_radius $bt_radius;
    }
  }
}

//
// Calculator
//

.history-view { background-color: $base_color; }

.card {
  &.display-container {
    border: 1px solid $borders_color;
  }

  #displayitem {
    border-top: 1px solid $borders_color;
  }

  .small & {
    border-radius: 0;

    &.forecast-card {
      border-width: 1px 0;
    }

    &.display-container {
      border-width: 0 0 1px 0;
    }
  }
}
