$variant: 'light';
$laptop: 'true';
$trans: 'true';
$theme: 'default';

@import '../../../sass/colors';
@import '../../../sass/variables';
@import '../../../sass/gnome-shell/drawing';
@import '../../../sass/gnome-shell/widgets-48-0';
@import '../../../sass/gnome-shell/extensions-46-0';
